{% extends 'base.html' %}
{% block title %}Polynym Tiles{% endblock %}

{% block script%}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Tiles</h3>
    <div class="text-muted"><em>2D polynym visualization</em></div>
    {{ thing.name }}
        $$\sum_{ row=1 }^{ {{ rows|length }} }\textstyle \sum_{col=1}^{ {{ rows.0|length }} } \{\ P^{ {{ poly.depth }} {% if named == "on" %}+name{% endif %} }\ \}$$
</div>
{% endblock %}

{% block mid %}
<div class="p-3">{% include 'bits/infocard.html' with thing=poly %}</div>
{% endblock %}

{% block right %}
<form action="{% url 'spin:polytile' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0">
        <div class="col-6 my-auto">
            <div class="btn-group-vertical p-1">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:polytile' %}">Random Pick</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
                  <table width="100%">
                      <tr>
                          <td width="50%" align="center"><b>Width</b><br><SELECT NAME="wdt" MULTIPLE SIZE="4">
                      	    <OPTION VALUE="dep" {% if wdt == "dep" %}selected {% endif %}/>P
                      	    <OPTION VALUE="15" {% if wdt == "15" %}selected {% endif %}/>15
                            <OPTION VALUE="20" {% if wdt == "20" %}selected {% endif %}/>20
                            <OPTION VALUE="25" {% if wdt == "25" %}selected {% endif %}/>25
                           </SELECT>
                          </td>
                          <td align="center"><b>Height</b><br><SELECT NAME="hgt" MULTIPLE SIZE="4">
                  	        <OPTION VALUE="dep" {% if hgt == "dep" %}selected {% endif %}/>P
                      	    <OPTION VALUE="15" {% if hgt == "15" %}selected {% endif %}/>15
                            <OPTION VALUE="25" {% if hgt == "25" %}selected {% endif %}/>25
                            <OPTION VALUE="50" {% if hgt == "50" %}selected {% endif %}/>50
                           </SELECT>
                          </td></tr><tr>
                          <td colspan="2" align="center">
                          <input type="checkbox" name="named"{% if named == "on" %} checked{% endif %}> Include name</td>
                      </tr>
                  </table>
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7">
        	    {% for p in polys %}
                    <OPTION VALUE="{{ p.id }}" {% if p.id == poly.id %}selected {% endif %}/>{{ p.name }}
        	    {% endfor %}
        	</SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}
<div class="row g-0">
    <div class="col align-top text-center">
        <table class="table table-sm table-dark table-borderless w-100">
            {% for row in rows %}
                <tr>
                    {% for dim,colr in row %}
                        <td style="background-color: #{{ colr }};"><div class="p-1 nym">{{ dim }}</div></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
