{% extends 'base.html' %}
{% block title %}Polynym Math{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Math</h3>
    <div class="text-muted"><em>set comparison between two polynyms</em></div>
</div>
{% endblock %}

{% block mid %}
<h4>P<sub>{{ p1.name }}</sub>&nbsp;&bot;&nbsp;P<sub>{{ p2.name }}</sub></h4>
{% endblock%}

{% block right %}
<form action="{% url 'spin:polymath' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0 w-100">
        <div class="col-6 mt-3">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:polymath' %}">Random Picks</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6 text-start mt-3">
            <SELECT NAME="p1_id" class="m-2">
	            {% for p in polys %}
                    <OPTION value="{{ p.id }}" {% if p.id == p1.id %}SELECTED{% endif %}/>{{ p.depth }} | {{ p.name }}
                {% endfor %}
	        </SELECT><br>
            <SELECT NAME="p2_id" class="m-2">
	            {% for p in polys %}
                    <OPTION value="{{ p.id }}" {% if p.id == p2.id %}SELECTED{% endif %}/>{{ p.depth }} | {{ p.name }}
                {% endfor %}
	        </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}{% load motags %}
<div class="row g-0 mt-2 p-3">
    <div class="col-10 offset-1">
        <div class="row bg-dark">
            <div class="col text-start mt-1"><h4>Equality</h4></div>
            <div class="col">$$A {% if equal %}={% else %}\neq{% endif %} B$$</div>
            <div class="col"><b>A is {% if not asub %}not {% endif %}equal to B</b></div>
        </div>
        <div class="row mt-1">
            <div class="col text-start mt-1"><h4>Subset</h4></div>
            <div class="col">$$A {% if asub %}\subseteq{% else %}\not\subseteq{% endif %} B$$</div>
            <div class="col"><b>A is {% if not asub %}not {% endif %}a subset of or equal to B</b></div>
        </div>
        <div class="row bg-dark mt-1">
            <div class="col text-start mt-1"><h4>Superset</h4></div>
            <div class="col">$$A {% if asup %}\supseteq{% else %}\not\supseteq{% endif %} B$$</div>
            <div class="col"><b>A is {% if not asup %}not {% endif %}a superset of or equal to B</b></div>
        </div>
        <div class="row mt-1">
            <div class="col text-start"><h4>Intersection</h4></div>
            <div class="col">$$A \cap B =$$</div>
            <div class="col"><b>{ {{ section|join:", " }} }</b></div>
        </div>
        <div class="row bg-dark mt-1">
            <div class="col text-start mt-1"><h4>Union</h4></div>
            <div class="col">$$A \cup B =$$</div>
            <div class="col"><b>{ {{ union|join:", " }} }</b></div>
        </div>
        <div class="row mt-1">
            <div class="col text-start mt-1"><h4>Symmetric Difference</h4></div>
            <div class="col">$$A \ominus B =$$</div>
            <div class="col"><b>{ {{ symdif|join:", " }} }</b></div>
        </div>
        <div class="row bg-dark mt-1">
            <div class="col text-start mt-1"><h4>Difference</h4></div>
            <div class="col">$$A - B =$$</div>
            <div class="col"><b>{ {{ a_b|join:", " }} }</b></div>
        </div>
        <div class="row mt-1">
            <div class="col text-start mt-1"><h4>Difference</h4></div>
            <div class="col">$$B - A =$$</div>
            <div class="col"><b>{ {{ b_a|join:", " }} }</b></div>
        </div>
        <div class="row bg-dark mt-1">
            <div class="col text-start mt-1"><h4>Cartesian Product</h4></div>
            <div class="col">$$A \times B =$$</div>
            <div class="col"><b>{ {{ prod|join:",<br>" }} }</b></div>
        </div>
    </div>
</div>
{% include 'bits/compare.html' with a=p1 b=p2 %}
{% endblock %}
