{% extends 'base.html' %}
{% block title %}Polynym Intersections{% endblock %}

{% block script %}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Intersection</h3>
    <div class="text-muted"><em>shared polynym dimensions</em></div>
</div>
{% endblock %}

{% block mid %}
<h4 class="mx-2">
    P<sub>{{ a.name }}</sub> &cap; P<sub>{{ b.name }}</sub> &rarr; { {{ ab|join:", " }} }
    $$P^{ {{ a.depth }} }\ \cap\ P^{ {{ b.depth }} } \to | {{ ab|length }} |$$
</h4>
{% endblock %}

{% block right %}
<form action="{% url 'spin:section' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0">
        <div class="col-6 my-auto">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:section' %}">Random Pick</a>
                <input class="btn btn-primary mb-2" type="submit" value="View Selected" />
                <div class="lil text-start">
                    <!--input type="checkbox" name="supr"{% if supr == "on" %} checked{% endif %}> Superset-->
                    <div class="text-muted">{{ abs|length }} found</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="ab_id" MULTIPLE SIZE="7" class="w-100">
            {% for id,a,ab,b in abs %}
              <option VALUE="{{ id }}" {% if abid == id %}selected{% endif %}/>{{ a.depth }} | {{ a.name|truncatechars:18 }} &xcap; {{ b.depth }} | {{ b.name|truncatechars:18 }}
            {% endfor %}
            </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}{% load motags %}
<div class="container p-0">
    <div class="row g-0 mt-3 p-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-1 text-center text-muted" style="background-color: black;">
            {{ things.1.depth }} {% if things.1.mode %}{{ things.1.mode }}{% else %}part{% endif %}s of {{ things.1.name }}<br>&darr;
        </div>
    </div>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-2 text-center" style="background-color: black;">
            {% for pt in n %}
                {% if pt %}<b>{{ pt }}</b><br>{% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row g-0 bg-secondary nym">
        <div class="col-1" style="background-color: #292b2c;"></div>
        <div class="col-2 p-1 bg-dark text-muted text-center">
            {{ things.0.depth }} {% if things.0.mode %}{{ things.0.mode }}{% else %}part{% endif %}s of {{ things.0.name }}<br>&rarr;
        </div>
        <div class="col-2 p-2 bg-dark text-center">
            {% for pt in w %}
                {% if pt %}<b>{{ pt }}</b><br>{% endif %}
            {% endfor %}
        </div>
        <div class="col-2 text-center my-auto p-2">
            {% for pt in ab %}
                {% if pt == clue %}
                    <input type="text" name="guess" value="" size="16" class="">
                {% else %}
                    <b>{{ pt }}</b>
                {% endif %}<br>
            {% endfor %}
        </div>
        <div class="col-2 p-2 bg-dark text-center">
            {% for pt in e %}{% if pt %}<b>{{ pt }}</b><br>{% endif %}{% endfor %}
        </div>
        <div class="col-2 p-1 bg-dark text-muted text-center">
            {{ things.0.depth }} {% if things.0.mode %}{{ things.0.mode }}{% else %}part{% endif %}s of {{ things.0.name }}<br>&larr;
        </div>
        <div class="col-1" style="background-color: #292b2c;"></div>
    </div>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-2 text-center" style="background-color: black;">
            {% for pt in s %}{% if pt %}<b>{{ pt }}</b><br />{% endif %}{% endfor %}
        </div>
    </div>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-1 text-center text-muted" style="background-color: black;">
            &uarr;<br>{{ things.1.depth }} {% if things.1.mode %}{{ things.1.mode }}{% else %}part{% endif %}s of {{ things.1.name }}
        </div>
    </div>
</div>

{% include 'bits/shows.html' %}
{% endblock %}
