{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block mid %}<h2>Please login!</h2>{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
<table width="100%">
    <tr>
        <td width="40%"></td>
        <td width="60%">
          {{ form.as_p }}
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="submit" value="LOG IN"></input>
        <br>
        <h3>New user? Signup <a href="/signup">HERE</a></h3>
    </td>
    </tr>
</table>
</form>
{% endblock %}
