{% extends 'base.html' %}
{% block title %}Log In{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Please log in</h3>
</div>
{% endblock %}

{% block mid %}
<form method="POST">{% csrf_token %}
    <div class="container pt-3">
        {{ form.as_p }}
    </div>
    <input class="btn btn-success m-2 py-1" type="submit" value="Log in"></input><br>
    New user? <a class="btn btn-sm btn-outline-secondary text-end my-3 mx-3" href="{% url 'spin:signup' %}">Sign up</a>
</form>
{% endblock %}
