{% extends 'play/gamer.html' %}

{% block mid %}
{% if msg %}{% autoescape off %}<h5>{{ msg }}</h5>{% endautoescape %}{% else %}<h3>Intuit the missing word!</h3>{% endif %}
{% endblock %}

{% block content %}{% load motags %}
<h3 class="text-start offset-2 p-1 pe-3">&hellip;from {{ poly.depth }} {{ poly.mode }}s of {{ poly.name }}:</h3>
<div class="row text-start g-0 px-2{% if poly.depth < 5 %} offset-2{% elif poly.depth < 9 %} offset-1{% endif %} mb-2">
    {% for nym in poly.nyms %}
    <div class="col p-3 bg-dark text-center nym">
        {% if nym == clue %}
            <input type="text" name="guess" value="" size="16">
        {% else %}
            {{ nym }}
        {% endif %}
    </div>
    {% endfor %}
    <div class="col-lg-3 col-md-4 col-sm-6 p-3">
        <td class="text-center bg-dark w-33">
    </div>
</div>
<input name="at" type="hidden" value="{{ at }}">
<input name="nu" type="hidden" value="{{ nu }}">
<input name="tic" type="hidden" value="{{ tic }}">
<input name="sco" type="hidden" value="{{ points }}">
<input name="clue" type="hidden" value="{{ clue }}">
</form>
<div class="lil text-muted p-3"><b>Partial credit via <a href="http://conceptnet.io" target="_blank">ConceptNet</a> similarity</b></div>
{% include 'bits/show.html' with thing=poly %}
{% endblock %}
