{% extends 'play/gamer.html' %}

{% block mid %}
{% if msg %}{% autoescape off %}<h5>{{ msg }}</h5>{% endautoescape %}{% else %}<h3>Find where two ideas intersect!</h3>{% endif %}
{% endblock %}

{% block content %}{% load motags %}
<div class="container-fluid">

    <div class="row g-0 mt-3 nym">
        <div class="col-5"></div>
        <div class="col-2 p-1 text-center text-muted" style="background-color: black;">
            {{ things.1.depth }} {% if things.1.mode %}{{ things.1.mode }}{% else %}part{% endif %}s of {{ things.1.name }}<br>&darr;
        </div>
    </div>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-2 text-center" style="background-color: black;">
            {% for pt in n %}
                {% if pt %}<b>{{ pt }}</b><br>{% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row g-0 nym" style="background-color: indigo;">
        <div class="col-1" style="background-color: #292b2c;"></div>
        <div class="col-2 p-1 bg-dark text-muted text-center">
            {{ things.0.depth }} {% if things.0.mode %}{{ things.0.mode }}{% else %}part{% endif %}s of {{ things.0.name }}<br>&rarr;
        </div>
        <div class="col-2 p-2 bg-dark text-center">
            {% for pt in w %}
                {% if pt %}<b>{{ pt }}</b><br>{% endif %}
            {% endfor %}
        </div>
        <div class="col-2 text-center my-auto mx- p-2">
            {% for pt in ab %}
                {% if pt == clue %}
                    <input type="text" name="guess" value="" size="12" class="mx-auto">
                {% else %}
                    <b>{{ pt }}</b>
                {% endif %}<br>
            {% endfor %}
        </div>
        <div class="col-2 p-2 bg-dark text-center">
            {% for pt in e %}{% if pt %}<b>{{ pt }}</b><br>{% endif %}{% endfor %}
        </div>
        <div class="col-2 p-1 bg-dark text-muted text-center">
            {{ things.0.depth }} {% if things.0.mode %}{{ things.0.mode }}{% else %}part{% endif %}s of {{ things.0.name }}<br>&larr;
        </div>
        <div class="col-1" style="background-color: #292b2c;"></div>
    </div>
    <input name="at" type="hidden" value="{{ at }}">
    <input name="nu" type="hidden" value="{{ nu }}">
    <input name="tic" type="hidden" value="{{ tic }}">
    <input name="clue" type="hidden" value="{{ clue }}">
    <input name="sco" type="hidden" value="{{ points }}">
    </form>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-2 text-center" style="background-color: black;">
            {% for pt in s %}{% if pt %}<b>{{ pt }}</b><br />{% endif %}{% endfor %}
        </div>
    </div>

    <div class="row g-0 nym">
        <div class="col-5"></div>
        <div class="col-2 p-1 text-center text-muted" style="background-color: black;">
            &uarr;<br>{{ things.1.depth }} {% if things.1.mode %}{{ things.1.mode }}{% else %}part{% endif %}s of {{ things.1.name }}
        </div>
    </div>
</div>

<div class="lil text-muted p-3"><b>Partial credit via <a href="http://conceptnet.io" target="_blank">ConceptNet</a> similarity</b></div>
{% include 'bits/shows.html' %}
{% endblock %}
