{% extends 'play/gamer.html' %}

{% block mid %}
{% if msg %}{% autoescape off %}<h5>{{ msg }}</h5>{% endautoescape %}{% else %}<h3>Guess the real quote!</h3>{% endif %}
{% endblock %}

{% block content %}{% load motags %}
<div class="row g-0">
    <div class="col-lg-8 col-md-6 offset-2 p-3">
        <div class="btn-group-vertical">
            {% for spun,quad in spin_quads %}
                <input type="radio" class="btn-check" id="{{ quad.name }}" value="{{ quad.name }}" name="guess" autocomplete="off">
                <label class="btn btn-secondary text-start book" for="{{ quad.name }}" style="white-space: normal;">
                    {% autoescape off %}{{ spun }}{% endautoescape %}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
<input name="at" type="hidden" value="{{ at }}">
<input name="nu" type="hidden" value="{{ nu }}">
<input name="tic" type="hidden" value="{{ tic }}">
<input name="clue" type="hidden" value="{{ quote.quadranym.name }}">
<input name="sco" type="hidden" value="{{ points }}">
<input name="body" type="hidden" value="{{ quote.body }}{% if quote.src %} –{{ quote.src }}{% endif %}">
</form>

<div class="lil text-muted p-3">Quotes via <b><a href="https://www.quotes.net" target="_blank">Quotes.net</a></b></div>
{% include 'bits/show_tale.html' with thing=quote things=quads %}
<div class="row g-0 text-center px-3">
    <div class="col-6 p-3">
        {% if body %}
            <div class="text-start text-muted norm">
                <div>Previous Quote:</div>{{ body }}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
