<form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    <input class="form-control ml-sm-2" type="search" placeholder="WIP..." aria-label="Search">
</form>

<!--index.html stuff --
<th class="text-center"><b>Top Authors</b></th-->

<!--td valign="top" nowrap><span class="num">
	{% for num,by in users %}{{ num|rjust:"4"|nbsp }} <a href="/user/{{ by }}">{{ by }}</a>{% if not forloop.last %}<br>
        {% endif %}{% endfor %}</span>
</td-->
