{% extends 'base.html' %}
{% block title %}Edit Polymap{% endblock %}

{% block mid %}
<h3>Work that Polynym map!</h3>
{% endblock %}


{% block right %}
<form action="{% url 'spin:polymap_save' %}" method="POST">{% csrf_token %}
<div class="row g-0 my-auto">
    <div class="col-12">
        <input class="btn btn-success m-2" type="submit" value="SAVE"/>
        <a class="btn btn-secondary mx-3" href="javascript:history.back()">BACK</a>
    </div>
</div>
{% endblock %}

{% block content %}{% load motags %}
<table class="table table-sm table-borderless text-light text-center" cellpadding="4" cellspacing="0">
  <tr>
	<td class="text-end" width="45%">
		<h2>{{ p1.depth }} {{ p1.mode }}s of {{ p1.name }}</h2>
	</td>
	<td width="20" class="text-center bg-dark">
			<input type="text" name="name" required id="id_name"><br>
	</td>
	<td class="text-start" width="45%">
		<h2>{{ p2.depth }} {{ p2.mode }}s of {{ p2.name }}</h2>
	</td>
  </tr>

{% for i in rng %}
  <tr>
	<td align="right" valign="top">
    	<SELECT NAME="pa{{ forloop.counter }}">
		{% for p in p1.nyms %}
			{% if p %}
				{% if i >= p1.depth and forloop.first %}
                    <option disabled selected value> << choose dimension >> </option>
                {% endif %}
				<OPTION VALUE="{{ p }}"{% if forloop.counter == forloop.parentloop.counter %} SELECTED{% endif %}>{{ p }}
			{% endif %}
		{% endfor %}</SELECT>
    </td>
	<td class="text-center align-top bg-dark">
		<SELECT NAME="r{{ forloop.counter }}">{% for rel in rels %}<OPTION VALUE="{{ rel }}">{{ rel }}{% endfor %}</SELECT>
	</td>
	<td align="left" valign="top">
		<SELECT NAME="pb{{ forloop.counter }}">
		{% for p in p2.nyms %}
			{% if p %}
				{% if i >= p2.depth and forloop.first %}<option disabled selected value> << choose dimension >> </option>{% endif %}
				<OPTION VALUE="{{ p }}"{% if forloop.counter == forloop.parentloop.counter %} SELECTED{% endif %}>{{ p }}
			{% endif %}
		{% endfor %}</SELECT>
	</td>
  </tr>
{% endfor %}

  <tr>
	<td><h2 align="right">{% if p1.src %}{{ p1.src }}{% else %}Anonymous{% endif %}</h2></td>
	<td width="20" class="text-center bg-dark">
				<input type="text" name="src"/><br>
	<td>
		<h2 align="left">{% if p2.src %}{{ p2.src }}{% else %}Anonymous{% endif %}</h2></td>
  </tr>
  <tr>
  	<td>
		<h3 align="right">{% if p1.area %}{{ p1.area }}{% else %}General{% endif %}</h3>
	</td>
	<td class="text-center bg-dark">
		<input type="text" name="area"/><br>
	</td>
	<td>
		<h3 align="left">{% if p2.area %}{{ p2.area }}{% else %}General{% endif %}</h3>
	</td>
  </tr>

  <tr>
  	<td align="right"><a href="{{ p1.wiki }}" target="_blank">{{ p1.wiki|wikurl }}</a></td>
	<td class="text-center bg-dark">
		<input type="text" name="wiki"/><br>
	</td>
	<td class="text-start"><a href="{{ p2.wiki }}" target="_blank">{{ p2.wiki|wikurl }}</a></td>
  </tr>
</table>
<div class="lil text-muted p-3"><b>Relations as used by <a href="http://conceptnet.io" target="_blank">ConceptNet</a></b></div>
{% endblock %}
