{% extends 'add/common.html' %}
{% block title %}Edit Story{% endblock %}

{% block mid %}<h2>{% if msg %}{{ msg }}{% else %}Label your Story!{% endif %}</h2>{% endblock %}

{% block right %}
<form action="{% url 'spin:story_save' %}" method="POST">{% csrf_token %}
<div class="col p-3 btn-group">
    <a class="btn btn-outline-secondary" href="javascript:history.back()">BACK</a>
    <input class="btn btn-success px-5" type="submit" value="SAVE" name="_save"/>
    <a class="btn btn-outline-secondary" href="{% url 'spin:story_detail' %}">CANCEL</a>
</div>
{% endblock %}

{% block addy %}
<div class="row g-0 px-3">
    <div class="col">
        <label for="id_name"><span class="text-muted"><b>Title:</b></span></label>
            <input type="text" name="name" size="60" value="Untitled" required id="id_name">
        <div class="mt-3 text-muted"><b>Story pairs:</b><code>{{ length }}</code></div>
        <div class="mt-3 col-9">{% include 'bits/book.html' %}</div>
        <div class="mt-3">
            <h5 class="text-muted mb-1">Added pairs:</h5>
            <ul>
                <li>
                    {% autoescape off %}{{ pairs }}{% endautoescape %}
                </li>
            </ul>
        </div>
    </div>
</div>
<input name="quad_ids" type="hidden" value="{{ quad_ids }}">
<input name="phra_ids" type="hidden" value="{{ phra_ids }}">
<input name="length" type="hidden" value="{{ length }}">
{% endblock %}
