{% extends 'base.html' %}
{% block title %}Spin Verse{% endblock %}

{% block mid %}
<h2>{% if msg %}{{ msg }}{% elif spun %}You spun some verse!{% else %}Spin Topics through Phrases{% endif %}</h2>
{% endblock %}

{% block content %}
{% include 'bits/trace_story.html' %}
<form action="/spinverse/" method="POST">{% csrf_token %}
<h3 align="center">Choose below and <input type="submit" value="S P I N" /></h3>
<h5 align="center">Use Ctrl- or Cmd-click to select multiple</h5>
<table align="center" cellspacing="0" cellpadding="4">
  <tr>
	<th></th>
    <th bgcolor="#CFCFCF"><h3>Pick Topics:</h3></th>
    <th bgcolor="#EFEFEF"><h3>Pick Phrases:</h3></th>
  </tr>
  <tr>
	<td width="80"></td>
    <td bgcolor="#EFEFEF" align="center" valign="top" height="290px" width="200px">
      <SELECT NAME="quad_id" MULTIPLE SIZE="20">
	  {% for q in quads %}
        <OPTION VALUE="{{ q.id }}" {% if q.id in quad_ids %}selected {% endif %}/>{{ q.name }}
	  {% endfor %}
	  </SELECT>
	</td>
	<td bgcolor="#CFCFCF" align="center" valign="top" width="200px">
	<SELECT NAME="phra_id" MULTIPLE SIZE="20">
    {% for ph in phras %}
      <OPTION VALUE="{{ ph.id }}" {% if ph.id in phra_ids %}selected {% endif %}/>{{ ph.name }}
    {% endfor %}
    </SELECT>
	</td>
	<td bgcolor="#FFFFFF" valign="top"> &nbsp; <h4>Verse Path:
	  <br><input type="radio" name="path" value="qt"{% if path == "qt" %} checked{% endif %}>Phrase-Spin<br>
	  <input type="radio" name="path" value="tq"{% if path == "tq" %} checked{% endif %}>Topic-Spin<br>
	  <input type="radio" name="path" value="zp"{% if path == "zp" %} checked{% endif %}>Zip (pick same # of each)<br><hr>
	  <input type="checkbox" name="trace"{% if trace == "on" %} checked{% endif %}>Trace</h4>
    </td>
  </tr>
</table>
</form>
{% endblock %}
