{% extends 'base.html' %}
{% block title %}Emonym{% endblock %}

{% block mid %}<h2>{% if msg %}{{ msg }}{% else %}Current Emonym:<br />{{ poly.src }} &times; {{ poly.depth }}{% endif %}</h2>{% endblock %}

{% block right %}
<form action="/emo/" method="POST">{% csrf_token %}
<table>
    <tr>
        <td align="right">
            <b>&rarr; Choose Emonym,<br>&swarr; enter below,<br>and <input type="submit" value="F E E L" /></b></td>
        <td>
            <SELECT NAME="poly_id" MULTIPLE SIZE="12">
            {% for p in polys %}
              <option VALUE="{{ p.id }}" {% if p.id == poly.id %}selected{% endif %}/>{{ p.depth }} | {{ p.name|truncatechars:25 }}{% if p.area %} | {{ p.area|truncatechars:25 }}{% endif %}{% if p.src %} | {{ p.src|truncatechars:25 }}{% endif %}
            {% endfor %}
            </SELECT>
        </td>
    </tr>
</table>
{% endblock %}

{% block content %}{% load motags %}
<table width="100%" align="center" bgcolor="#BBBBBB" cellpadding="6" cellspacing="0">
  <tr>
	<td bgcolor="#DEDEDE" align="left" valign="top" width="20%">
        {% if poly.src %}<b>Source:<b> {{ poly.src }}<br>{% endif %}
        {% if poly.user %}<b>By:<b> <a href="/user/{{ poly.user }}">{{ poly.user }}</a><br>{% endif %}
        {% if poly.area %}<b>Area: {{ poly.area }}<br>{% endif %}
        <br><b>Mood{% if poly.name == "moodset" %} Synonym Set{% endif %}s:</b>
        {% for nym in poly.nyms %}
            <br>&nbsp;&bullet; {{ nym }}
        {% endfor%}
    </td>
	<td bgcolor="#BBBBBB" align="left" valign="middle" width="80%">
        <table width="100%" cellpadding="8">
          <tr>
            <td bgcolor="#EFEFEF" align="center" width="40%"><h2>Guess mood of:</h2>
                <input name="word" value="{{ word }}" size=48><br><b>&uarr; word or phrase &uarr;</b><br>
            </td>
            <td bgcolor="#DEDEDE" align="center" width="10%">
                <img src="http://mood.scottyvercoe.com/static/img/emo/{{ poly.src }}_{{ poly.depth }}_{{ mood }}.png" alt="mood">
                <br>{% if mood != 'none' %}<span class="lil">{{ say }}</span>{% endif %}
            </td>
            <td bgcolor="#FFFFFF" align="left" width="50%">
                {% if emos %}
                <table cellpadding="4">
                {% for mo,perc,siz,colr in emos %}
                    <tr><td><b>{{ mo }}</b></td><td><b>{{ perc|floatformat }}%</b></td>
                        <td><div style="height: 18px; width: {{ siz }}px; background-color: {{ colr }};"></td>
                {% endfor %}
                </table>
                {% else %}<h3 align="center">&mdash;no feelings&mdash;</h3>
                {% endif %}
            </td>
          </tr>
          <tr>
              <td colspan="3" bgcolor="#EFEFEF" align="center">
                  <b>via <a href="http://conceptnet.io">ConceptNet</a> <i>relatedness</i></b></td>
           </tr>
        </table>
    </td>
  </tr>
  <tr>
      <td colspan="2" bgcolor="#DEDEDE">{% if poly.wiki %}<b>Info:
          <br><a href="{{ poly.wiki }}">{{ poly.wiki|wikurl }}</a></b>{% endif %}
      </td>
   </tr>
</table>
</form>
{% endblock %}
