{% extends 'base.html' %}
{% block title %}Confirm Delete{% endblock %}

{% block mid %}
<h2>Really delete {{ object.whois|title }}?</h2>
{% endblock %}

{% block right %}{% load static %}
<img src="{% static 'spin/emo/Paul Ekman_6_afraid.png' %}">
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
<div class="row g-0 bg-danger text-center">
    <div class="col">
        <h2><b>ABOUT TO REMOVE DATA</b></h2>
    </div>
</div>
<div class="row g-0">
    <div class="col">{% include 'bits/infocard.html' with thing=object %}</div>
    <div class="col">
        <input class="btn btn-danger m-3" type="submit" value="DELETE" />
        <a class="btn btn-secondary" href="javascript:history.back()">CANCEL</a>
    </div>
</div>
</form>
{% endblock %}
