{% extends 'add/common.html' %}

{% block addy %}
<div class="row g-0 w-100">
    <div class="col-8 text-center">
        <h3>Each dimension is a</h3>
        {{ form.mode }}
        <h3 class="m-3">of {{ form.name }}</h3>
    </div>
    <div class="col-4 text-end pe-3">
        1. {{ form.p1 }}<br>
        2. {{ form.p2 }}<br>
        3. {{ form.p3 }}<br>
        4. {{ form.p4 }}<br>
        5. {{ form.p5 }}<br>
        6. {{ form.p6 }}<br>
        7. {{ form.p7 }}<br>
        8. {{ form.p8 }}<br>
        9. {{ form.p9 }}<br>
       10. {{ form.p10 }}<br>
       11. {{ form.p11 }}<br>
       12. {{ form.p12 }}<br>
    </div>
</div>
{% endblock %}
