{% extends 'base.html' %}
{% block title %}Edit Story{% endblock %}

{% block mid %}<h2>
{% if msg %}{{ msg }}{% elif spun %}<h2>Your Story is being told!</h2>
{% else %}Build a Story from Topic &amp; Phrase lists</h2>
{% endif %}
{% endblock %}

{% block right %}<font size="+1"><b>Story-Pushers:</b></font>
<h4>Menu-based: <a href="/story/add/">&rarr; Frames &rarr;</a><br>
    Text-based: <a href="/add/storyb">&rarr; Pairs &rarr;</a><br>
    &raquo;&raquo; Matched &laquo;&laquo;</h4>
{% endblock %}

{% block content %}
<form action="/add/storyc/" method="POST">{% csrf_token %}
<table width="80%">
  <tr>
	<td bgcolor="#EFEFEF" align="center"><br><b>Topics:</b><br>
	<textarea name="quad_txt" cols=80 rows=8>{{ quad_txt }}</textarea><br><br>
    <b>&udarr; Comma-separated lists &udarr;</b><br>
     Match list lengths, or use one Topic/Phrase to apply to all<br>
     To separate sections, use a newline or dash "-" at the same point in both lists
	</td>
    <td bgcolor="#CFCFCF" valign="top" align="center">
      <h4>Available Topics:<br />
      <SELECT SIZE="8">
	  {% for q in quads %}
        <option>{{ q.name }}
	  {% endfor %}
	  </SELECT></h4>
    </td>
    <td valign="top"><br><h4 align="center">Write your Story and<br><input type="submit" value="T E L L" name="_tell" /></h4>
    <h4><input type="checkbox" name="trace"{% if trace == "on" %} checked{% endif %}>Trace</h4>
    </td>
  </tr>
  <tr>
	<td bgcolor="#CFCFCF" align="center"><br><b>Phrases:</b><br>
	    <textarea name="phra_txt" cols=80 rows=8>{{ phra_txt }}</textarea><br><br>
	</td>
    <td bgcolor="#EFEFEF" valign="top" align="center">
      <h4>Available Phrases:<br />
      <SELECT SIZE="8">
	  {% for ph in phras %}
        <option>{{ ph.name }}
	  {% endfor %}
	  </SELECT></h4>
    </td>
    <td valign="top">
    <h4 align="center">{% if spun %}Ready to save?<br><input type="submit" value="N E X T" name="_save" />{% else %}<br>{% endif %}</h4>
    </td>
  </tr>
</table>
{% include 'bits/trace_story.html' %}
</form>
{% endblock %}
