{% extends 'add/_new.html' %}
{% block title %}Edit Tale{% endblock %}

{% block mid %}<h2>{% if msg %}{{ msg }}{% else %}Label your Tale!{% endif %}</h2>{% endblock %}

{% block right %}
<form action="/save_tale/" method="POST">{% csrf_token %}
Enter below, then <input type="submit" value="S A V E"/>
{% endblock %}

{% block addy %}
<b>Title:</b> <input type="text" name="name" size="60" value="Spun/{{ fabl.name }}"><br><br>
<b>Fable:</b> [{{ fabl.name }}]<br>
<b>Length:</b> {{ fabl.length }}<br>
<b>Topics:</b> [{{ quad_txt }}]<br>
<b>Spun Tale:</b><br>{{ spun|striptags }}<br>

<input name="quad_ids" type="hidden" value="{{ quad_ids }}">
<input name="fabl_id" type="hidden" value="{{ fabl.id }}">
<input name="length" type="hidden" value="{{ fabl.length }}">
{% endblock %}
