{% extends 'add/common.html' %}

{% block addy %}
<b>{{ form.name.label_tag }}</b><br>{{ form.name }}<br><br>
<b>{{ form.v1.label_tag }}</b><br>{{ form.v1 }}<br>
<b>{{ form.v2.label_tag }}</b><br>{{ form.v2 }}<br>
<b>{{ form.v3.label_tag }}</b><br>{{ form.v3 }}<br>
<b>{{ form.v4.label_tag }}</b><br>{{ form.v4 }}<br>
<b>{{ form.v5.label_tag }}</b><br>{{ form.v5 }}<br>
<b>{{ form.v6.label_tag }}</b><br>{{ form.v6 }}<br>
<b>{{ form.v7.label_tag }}</b><br>{{ form.v7 }}<br>
<b>{{ form.v8.label_tag }}</b><br>{{ form.v8 }}<br>
<b>{{ form.v9.label_tag }}</b><br>{{ form.v9 }}<br>
{% endblock %}
