<!doctype html><html lang="en"><head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/e30753a3aa.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'spin/style.css' %}">
<link rel="shortcut icon" href="{% static 'spin/img/favicon.ico' %}"/>
<title>Nymology :: {% block title %}Idea Set Theory{% endblock %}</title>
{% block script %}
{% endblock %}</head>
<body>
<!-- || SITE NAV.. -->
<div class="container-fluid p-0 justify-content-end">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
        <a class="navbar-brand px-2" href="{% url 'spin:home' %}">
            <img class="mb-2" src="{% static 'spin/img/favlogo.png' %}"/>Nymology
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'spin:play' %}" class="lil px-1"><i>The Idea Set<br>Playground</i></a>
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav px-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Play</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" href="{% url 'spin:polypuzzle' %}">Poly Puzzle</a>
                        <a class="dropdown-item" href="{% url 'spin:quadrazone' %}">Quadra Zone</a>
                        <a class="dropdown-item" href="{% url 'spin:quizzection' %}">QuizZection</a>
                        <a class="dropdown-item" href="{% url 'spin:thegist' %}">The Gist</a>
                        <a class="dropdown-item" href="{% url 'spin:unquote' %}">unQuote</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:feel_fmk' %}">Feel F-M-K</a>
                        <a class="dropdown-item" href="{% url 'spin:feel_mood' %}">Feel Mood</a>
                        <a class="dropdown-item" href="{% url 'spin:feel_polynym' %}">Feel Polynym</a>
                        <a class="dropdown-item" href="{% url 'spin:feel_site' %}">Feel Site</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:flip_quote' %}">Flip Quotes</a>
                        <a class="dropdown-item" href="{% url 'spin:flip_text' %}">Flip Text</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Content</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" href="{% url 'spin:tell_phrase' %}">Tell Phrases</a>
                        <a class="dropdown-item" href="{% url 'spin:tell_tale' %}">Tell Tales</a>
                        <a class="dropdown-item" href="{% url 'spin:tell_verse' %}">Tell Verses</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:story_detail' %}">Stories</a>
                        <a class="dropdown-item" href="{% url 'spin:tale_detail' %}">Tales</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:phrase_detail' %}">Phrase Templates</a>
                        <a class="dropdown-item" href="{% url 'spin:fable_detail' %}">Tale Templates</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Polynym</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" href="{% url 'spin:polynym_detail' %}">Detail</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:polynyms' %}">Data</a>
                        <a class="dropdown-item" href="{% url 'spin:section' %}">Intersections</a>
                        <a class="dropdown-item" href="{% url 'spin:polymap_detail' %}">Maps</a>
                        <a class="dropdown-item" href="{% url 'spin:polymath' %}">Math</a>
                        <a class="dropdown-item" href="{% url 'spin:polyset_detail' %}">Sets</a>
                        <a class="dropdown-item" href="{% url 'spin:polynyms_n' 1 %}">Systems</a>
                        <a class="dropdown-item" href="{% url 'spin:polynym_search' %}">Thesaurus</a>
                        <a class="dropdown-item" href="{% url 'spin:polytile' %}">Tiles</a>
                        <a class="dropdown-item" href="{% url 'spin:union' %}">Unions</a>
                        <a class="dropdown-item" href="{% url 'spin:vectornym_detail' %}">Vectors</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:guessanym_detail' %}">Guess</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">Quadranym</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" href="{% url 'spin:quadranym_detail' %}">Detail</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:quadranyms' %}">Data</a>
                        <a class="dropdown-item" href="{% url 'spin:quadramath' %}">Math</a>
                        <a class="dropdown-item" href="{% url 'spin:quadraset_detail' %}">Sets</a>
                        <a class="dropdown-item" href="{% url 'spin:quadranym_search' %}">Thesaurus</a>
                        <a class="dropdown-item" href="{% url 'spin:quadratile' %}">Tiles</a>
                        <div class="dropdown-divider bg-light"></div>
                        <a class="dropdown-item" href="{% url 'spin:guessaquad_detail' %}">Guess</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'spin:plot' %}">Plot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'spin:api_info' %}">API</a>
                </li>
            </ul>
        </div>
        {% if user.is_authenticated %}
            <a class="btn btn-sm btn-outline-secondary px-1 pt-0 ms-2 me-1" href="{% url 'spin:logout' %}"><small>Log out</small></a>
            <span class="text-muted tiny">[<a href="{% url 'spin:user_detail' user.username %}">{{ user.username }}</a>]</span>
        {% else %}
            <a class="btn btn-sm btn-outline-secondary py-0" href="{% url 'spin:login' %}"><small>Log in</small></a>
        {% endif %}
    </nav>
</div>
<!-- ..SITE NAV || -->

<!-- || ACTIVITY BAR.. -->
<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-xl-2 col-lg-6 col-md-12 align-top p-0">
            <div class="row g-0 text-center bg-dark rounded-bottom pb-1">
    {% block left %}
    {% endblock %}
            </div>
    {% block flair %}
            <div class="row g-0 pb-1"></div>
            <div class="row g-0 bg-dark pb-1 rounded-end w-100"></div>
            <div class="row g-0 pb-1"></div>
            <div class="row g-0 bg-dark pb-1 rounded-end w-75"></div>
            <div class="row g-0 pb-1"></div>
            <div class="row g-0 bg-dark pb-1 rounded-end w-50"></div>
            <div class="row g-0 pb-1"></div>
            <div class="row g-0 bg-dark pb-1 rounded-end w-25"></div>
            <div class="row g-0 pb-1"></div>
            <div class="row g-0 pb-1 w-25">
                <div class="row bg-dark pb-1 rounded-end w-75"></div>
            </div>
    {% endblock %}
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 text-center my-auto">
    {% block mid %}
    {% endblock %}
        </div>
        <div class="col-xl-6 col-lg-12 text-center my-auto">
    {% block right %}
    {% endblock %}
        </div>
    </div>
</div>
<!-- ..ACTIVITY BAR || -->

<!-- || CONTENT.. -->
{% block content %}
{% endblock %}
<!-- ..CONTENT || -->

<div style="position: fixed; bottom: 0; right: 0; font-family: sans-serif; font-size: 12px; background-color: #000000;">
    &copy; {% now "Y" %} Nymology
    {% if request.user.is_superuser %}
        &nbsp; <a href="/admin">admin</a>
    {% endif %}
</div>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</body></html>
