{% extends 'base.html' %}

{% block mid%}
{% if user.is_authenticated %}
    <h3 class="text-center my-3">Hi {{ user.username }}!</h3>
    <div class="btn-group mb-2">
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:site_info' %}">Info</a>
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:user_detail' request.user %}">Status</a>
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:logout' %}">Log out</a>
    </div>
{% else %}
    <h3 class="text-center my-3">Welcome to Nymology</h3>
    <div class="btn-group mb-2">
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:site_info' %}">Info</a>
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:login' %}">Log in</a>
        <a class="btn btn-outline-secondary py-1" href="{% url 'spin:signup' %}">Sign up</a>
    </div>
{% endif %}
{% endblock %}

{% block right %}{% load motags %}
<table class="table table-sm table-dark m-0 p-0 text-start" cellpadding="4" cellspacing="0">
	<tr class="text-center text-muted">
		<th><b>Data</b></th>
		<th><b>Top Areas</b></th>
		<th><b>Top Sources</b></th>
		<th><b>Top Scores</b></th>
    </tr>
	<tr>
		<td valign="top" nowrap><span class="num">{% autoescape off %}
			{{ polys|rjust:"4"|nbsp }} <a href="/polynym">Polynyms</a><br>
			{{ quads|rjust:"4"|nbsp }} <a href="/quadranym">Quadranyms</a><br>
			{{ stors|rjust:"4"|nbsp }} <a href="/story">Stories</a><br>
			{{ tales|rjust:"4"|nbsp }} <a href="/tale">Tales</a><br>
			{{ phras|rjust:"4"|nbsp }} <a href="/phrase">Phrases</a><br>
			{{ fabls|rjust:"4"|nbsp }} <a href="/fable">Fables</a><br>
			{{ pmaps|rjust:"4"|nbsp }} <a href="/polymap">Polymaps</a></span>
		</td>
		<td valign="top" nowrap><span class="num">
			{% for num,ar in areas %}{{ num|rjust:"4"|nbsp }} <a href="/polynym/area/{{ ar }}">{{ ar }}</a>{% if not forloop.last %}<br>
            {% endif %}{% endfor %}</span>
		</td>
		<td valign="top" nowrap><span class="num">
			{% for num,sr in sources %}{{ num|rjust:"4"|nbsp }} <a href="/polynym/src/{{ sr|slugify }}">{{ sr }}</a>{% if not forloop.last %}<br>
                {% endif %}{% endfor %}</span>
		</td>
		<td valign="top" nowrap><span class="num">
			{% for num,by in wins %}{{ num|rjust:"4"|nbsp }} <a href="/user/{{ by }}">{{ by }}</a>{% if not forloop.last %}<br>
                {% endif %}{% endfor %}</span>{% endautoescape %}
		</td>
	</tr>
</table>
{% endblock %}

{% block content %}{% load static %}
<div class="row g-0">
    <div class="col offset-1 mt-3 px-3">
        <h4>To help us think, we group and divide things.</h4>
        <div class="my-4">Yin-Yang (2) and Freud's psyche (3) are idea sets, or
            <a class="nym" href="{% url 'spin:site_info' %}"><em>polynyms</em></a>.<br>
            They span all cultures and disciplines.</div>
        <h4 class="offset-2">Why not collect them?</h4>
    </div>
    <div class="col my-auto">
        <div class="btn-group pt-3">
            <a class="btn btn-outline-secondary my-3 px-5 nym" href="{% url 'spin:site_info' %}">Learn More</a>
            <a class="btn btn-outline-secondary my-3 px-5 nym" href="{% url 'spin:play' %}">Play</a>
        </div>
    </div>
</div>

<div class="row g-0 my-3">
    <div class="col-12 text-start px-3">
    Polynym examples:
        {% include 'bits/infogrid.html' with things=top_poly %}
    </div>
    <div class="col-12 my-auto text-center">
        <div class="btn-group">
            <a class="btn btn-outline-secondary my-3 px-5 nym" href="{% url 'spin:polynym_detail' %}">Polynym Detail</a>
            <a class="btn btn-outline-secondary my-3 px-5 nym" href="{% url 'spin:polynyms' %}">Polynym Database</a>
        </div>
    </div>
</div>
{% endblock %}
