{% extends 'base.html' %}
{% block title %}P{% if n != 1 %}{{ n }}: {{ ad }}{% else %}olynym{% endif %} Systems{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Systems</h3>
    <div class="text-muted"><em>by dimension</em></div>
</div>
{% endblock %}

{% block mid %}
{% if msg %}{{ msg }}{% else %}
    {% if n != 1 %}<h4>{{ n }}: {{ polyad }}s</h4>{% else %}<h4 class="text-muted">Choose Dimension</h4>{% endif %}{% endif %}
{% endblock %}

{% block right %}
<div class="row row-cols-3 px-2 my-3 g-0">
    {% for sysad in ben.values %}
        {% if forloop.counter0 %}
            <a type="button" class="col rounded-0 btn btn-sm btn-outline-secondary nym" href="{% url 'spin:polynyms_n' forloop.counter %}">
            {{ forloop.counter }}: {{ sysad }}s</a>
        {% endif %}
    {% endfor %}
    <div class="btn-group bg-dark btn-group-sm ps-1 my-auto">
        <a class="btn btn-sm btn-outline-secondary {% if request.path == '/polynym/n/1' %} disabled{% endif %}"
                                                    href="{% url 'spin:polynyms_n' 1 %}">dimension</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'spin:polynyms_area' 'all' %}">area</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'spin:polynyms_src' 'all' %}">source</a>
    </div>
</div>

{% endblock %}

{% block content %}
{% if n == 1 %}
    {% include 'bits/poly_systems.html' %}
{% else %}
<table class="table table-sm table-borderless text-center">
    <tr class="text-light">
        {% for header in ttl %}
            <td><h5>{{ header }}</h5></td>
        {% endfor %}
    </tr>
    {% for poly in polys %}
        <tr class="text-secondary">
            <td>
                <a class="btn btn-outline-secondary rounded-0 p-1 m-0 w-100" href="{% url 'spin:polynym_detail' poly.id %}">{{ poly.name }}</a>
            </td>
            {% for nym in poly.nyms %}
                <td>{{ nym }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% if n == 3 %}<div class="p-3">For more Triads, see <a href="http://bookofthrees.com" target="_blank">Book of Threes</a></div>{% endif %}
{% endif %}
{% endblock %}
