{% extends 'base.html' %}
{% block title %}Polynym Thesaurus{% endblock %}

{% block script%}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Thesaurus</h3>
    <div class="text-muted"><em>search polynyms<br>by dimension</em></div>
</div>
{% endblock %}

{% block mid %}
<h4>
    {% if msg %}
        {{ msg }}
    {% else %}
        Dimension:
        $$\{\  {{ d }}\ \}$$
    {% endif %}
</h4>
{% endblock %}

{% block right %}
<div class="row g-0 text-end">
    <div class="col-6 my-auto">
        <form class="form-inline mb-2" method="POST" action="/p/find/" value="{{ request.POST.word }}">{% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
            <input type="search" class="searchfield" name="word" value="{{ request.POST.word }}" placeholder="Search polynyms...">
        </form>
        <div class="btn-group-vertical">
            <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:polynym_search' %}">Random Pick</a>
            <form action="{% url 'spin:polynym_search' %}" method="POST">{% csrf_token %}
            <input class="btn btn-primary" type="submit" value="View Selected" />
        </div>
    </div>
    <div class="col-6">
        <SELECT NAME="word" MULTIPLE SIZE="7">
	    {% for w in words %}
            <OPTION VALUE="{{ w }}" {% if w == word %}selected {% endif %}/>{{ w }}
        {% endfor %}
	    </SELECT>
    </div>
</div>
</form>
{% endblock %}

{% block content %}
<div class="row g-0 mb-3">
    <div class="col-12">
        <table class="table table-sm table-dark table-borderless text-center w-100">
            <colgroup>
                <col span="6">
                <col class="outlined">
            </colgroup>
            {% for row in rows %}
                <tr>
                    {% for dimension,p,colr in row %}
                    <td style="background: #{{ colr }};">
                        {% with dimension|slugify as slug %}
                        <a class="btn btn-sm btn-dark" href="{% url 'spin:polynym_search' slug %}">{% endwith %}{{ dimension }}</a>
                        <div>{% if p == 0 %}&target;{% else %}{{ p }}{% endif %}</div>
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% include 'bits/shows.html' %}
{% endblock %}
