{% extends 'base.html' %}
{% block title %}Polynym Systems{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Systems</h3>
    <div class="text-muted"><em>by area & dimension</em></div>
</div>
{% endblock %}

{% block mid %}
{% if area != 'All' %}<h4>{{ area }}</h4>{% else %}
<h4 class="text-muted">Choose area or enter below:</h4>{% endif %}
<form class="form-inline my-2 my-lg-0" method="GET" action="/polynym/" value="{{ request.GET.area }}">
    <button type="submit" class="btn btn-outline-secondary my-2 my-sm-0"><i class="fa fa-search"></i></button>
    <input type="search" class="searchfield" name="area" value="{{ request.GET.area }}" placeholder="Search polynym areas...">
</form>
{% endblock %}

{% block right %}
<div class="row row-cols-3 px-2 my-3 g-0">
    {% for a in areas %}
        {% with a|slugify as slug %}
            <a type="button" class="col rounded-0 btn btn-sm btn-outline-secondary nym" href="{% url 'spin:polynyms_area' slug %}">
        {% endwith %}{{ a }}</a>
    {% endfor %}
    <div class="btn-group bg-dark btn-group-sm ps-1 my-auto">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'spin:polynyms_n' 1 %}">dimension</a>
        <a class="btn btn-sm btn-outline-secondary{% if request.path == '/polynym/area/all' %} disabled{% endif %}"
                                                    href="{% url 'spin:polynyms_area' 'all' %}">area</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'spin:polynyms_src' 'all' %}">source</a>
    </div>
</div>
{% endblock %}

{% block content %}
{% include 'bits/poly_systems.html' %}
{% endblock %}
