{% extends 'base.html' %}
{% block title %}Quadranym Dimension{% endblock %}

{% block script%}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}
{% block mid %}<h2>{% if msg %}{{ msg }}{% else %}Quadranym Dimension:<br>
    $$^e_s Q^o_r\ =\ \{\ ^{{ neros.e }}_{{ neros.s }} {{ wordr }}^{{ neros.o }}_{{ neros.r }}\ \}$$
{% endif %}</h2>{% endblock %}

{% block right %}
<form action="/q/find/{{ word|slugify }}" method="POST">{% csrf_token %}
<table>
    <tr>
        <td align="right">
          <table>
            <tr>
                <td><b><a href="/q/find/">Refresh</a> for a random pick or choose and <input type="submit" value="S E E" /></b></td>
              <td>
              <SELECT NAME="word" MULTIPLE SIZE="12">
        	  {% for w in words %}
                <OPTION VALUE="{{ w }}" {% if w == word %}selected {% endif %}/>{{ w }}
              {% endfor %}
        	  </SELECT>
              </td>
            </tr>
          </table>
        </td>
        <td>
        </td>
    </tr>
</table>
</form>
{% endblock %}

{% block content %}
<table border="0" cellspacing="0" cellpadding="2" align="center">
<colgroup>
    <col span="5">
    <col class="outlined">
</colgroup>
{% for row in rows %}
    <tr>
        {% for quadrant,colr in row %}
        <td bgcolor="{{ colr }}"><span class="navbar"><font size="+1" color="#FFFFFF">
            <a href="/q/find/{{ quadrant|slugify }}" style="color: #FFFFFF;">{{ quadrant }}</a>
        </span></td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
<b>Quadranyms:</b><br>
{% for q in got_quads %}
<a href="/quadranym/{{ q.pk }}">{{ q.name|truncatechars:25 }}</a>{% if q.area %} | {{ q.area|truncatechars:25 }}{% endif %}{% if q.src %} | {{ q.src|truncatechars:25 }}{% endif %}<br>
{% endfor %}
{% endblock %}
