<div class="container mb-3">{% load booktags %}
    <nav class="nav nav-tabs nav-justified" role="tablist">
        <a class="nav-link booktabs" data-bs-toggle="tab" href="#text">Text</a>
        <a class="nav-link booktabs active" data-bs-toggle="tab" href="#swaps">Substitutions</a>
        <a class="nav-link booktabs" data-bs-toggle="tab" href="#qode">Template</a>
    </nav>
    <div class="tab-content bg-light text-dark text-start book p-3">
        <div id="text" class="container tab-pane fade">
            {% autoescape off %}{{ spun|unbold }}{% endautoescape %}
        </div>
        <div id="swaps" class="container tab-pane active">
            {% autoescape off %}{{ spun }}{% endautoescape %}
        </div>
        <div id="qode" class="container tab-pane fade">
            {% autoescape off %}{{ qode|embolden }}{% endautoescape %}
        </div>
    </div>
</div>
