{% load motags %}
<div class="row g-0">
    <div class="col">
        {% include 'bits/infocard.html' %}
    </div>
{% if thing.whois %}
        <div class="col text-center">
            <div class="code mb-1">{% liked request.user.pk thing %}<br>
                <a class="btn p-0 m-0" href="/{{ thing.whois }}/{{ thing.pk }}/vote/{% voted_on request.user.pk thing %}.png"></a>
                <br>{{ thing.votes.count }}
            </div>
            <a class="btn btn-outline-success p-0 mb-1" style="width: 66px;" href="/{{ thing.whois }}/add/">
                <small>Create</small></a><br>
            {% if thing.whois in 'polynym,quadranym,quadraset,polyset,phrase,fable' %}
                {% if request.user == thing.user or request.user.is_superuser %}
                    <a class="btn btn-outline-warning p-0 mb-1" style="width: 66px;" href="/{{ thing.whois }}/update/{{ thing.pk }}">
                        <small>Update</small></a><br>
                {% endif %}
            {% endif %}
            {% if request.user == thing.user or request.user.is_superuser %}
                <a class="btn btn-outline-danger p-0 mb-1" style="width: 66px;" href="/{{ thing.whois }}/delete/{{ thing.pk }}">
                    <small>Delete</small></a>
            {% endif %}
        </div>
{% endif %}
</div>
