<table class="table table-sm text-light table-borderless text-center">
    <tr>
        {% for header in ttl %}
            <td><h5>{{ header }}</h5></td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>
                {% for poly in col %}
                    <a class="btn btn-outline-secondary rounded-0 p-1 m-0 w-100" href="{% url 'spin:polynym_detail' poly.pk %}">{{ poly.name }}</a><br>
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
</table>
