<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#FFFFFF" align="center" width="33%"><b>E = {{ quad.e }}</b></td>
    <td width="33%">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="center" width="33%"><b>O = {{ quad.o }}</b></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td bgcolor="#FFFFFF" align="center"><b>N = {{ quad.name }}</b></td>
    <td>&nbsp;</td>
  <tr>
    <td bgcolor="#FFFFFF" align="center"><b>S = {{ quad.s }}</b></td>
    <td>&nbsp;</td>
    <td bgcolor="#FFFFFF" align="center"><b>R = {{ quad.r }}</b></td>
  </tr>
</table>
