{% autoescape off %}{% load motags %}
{% if trace %}
     <table cellpadding="0" cellspacing="4">
    	{% for q in thing.quads %}
    	  <tr>
    		<td bgcolor="#EFEFEF">
             <table width="100%" cellspacing="0" cellpadding="0">
    		  <tr>
    		    <td bgcolor="#FFFFFF" align="center" width="33%"><b>E = {{ q.e }}</b></td>
    		    <td width="33%">&nbsp;</td>
    		    <td bgcolor="#FFFFFF" align="center" width="33%"><b>O = {{ q.o }}</b></td>
    		  </tr>
    		  <tr>
    		    <td>&nbsp;</td>
    		    <td bgcolor="#FFFFFF" align="center"><b>N = {{ q.name }}</b></td>
    		    <td>&nbsp;</td>
    		  <tr>
    		    <td bgcolor="#FFFFFF" align="center"><b>S = {{ q.s }}</b></td>
    		    <td>&nbsp;</td>
    		    <td bgcolor="#FFFFFF" align="center"><b>R = {{ q.r }}</b></td>
    		  </tr>
    		 </table>{% if not forloop.last %}<hr>{% endif %}
    		</td>
            <td align="center">{{ spun|index:forloop.counter0|index:0 }}</td>
    	</tr>
    	{% endfor %}
     </table>
{% else %}
{% if spun.0|istuple %}{{ spun|index:-1|index:0|striptags|linebreaks }}{% else %}{{ spun }}{% endif %}
{% endif %}
{% endautoescape %}
