{% extends 'base.html' %}
{% block title %}Tale Template{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Tale Template</h3>
    <div class="text-muted"><em>a phrasal template<br>using multiple topics</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}</h4>
{% endblock %}

{% block right %}
<form action="{% url 'spin:fable_detail' %}" method="POST">{% csrf_token %}
<div class="container pb-3">
    <div class="row g-0 text-end">
        <div class="col-6 my-auto text-center">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:fable_detail' %}">Random Pick</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7" class="w-100">
                {% for f in things %}
                    <option VALUE="{{ f.id }}" {% if f.id == thing.id %}selected{% endif %}/>{{ f.width }} |
                    {{ f.name|truncatechars:25 }}{% if f.src %} | {{ f.src|truncatechars:25 }}{% endif %}
                {% endfor %}
            </SELECT>
        </div>
    </div>
    <div class="row g-0 text-end">
        <div class="col">[ {{ things|length }} ]</div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-xl-4 col-md-5">{% include 'bits/common.html' %}</div>
        <div class="col-xl-8 col-md-7">
            {% include 'bits/qode.html' with qode=thing.qode|linebreaks title=thing.name  %}
        </div>
    </div>
    <div class="row g-0">
        <div class="col-xl-8 col-md-7 offset-xl-4 offset-md-5 text-center text-muted">
            <h4>{{ thing.width }} substitution{{ thing.width|pluralize }}
                <hr class="mx-auto w-50">{{ thing.length }} topic{{ thing.length|pluralize }}
            </h4>
        </div>
    </div>
</div>
{% endblock %}
