{% extends "base.html" %}
{% block title %}Polyset{% endblock %}

{% block mid %}
{% if msg %}{{ msg }}{% else %}<h2>Polyset:<br>{{ thing.name }}</h2>{% endif %}
{% endblock %}

{% block right %}
<form action="/polyset/" method="POST">{% csrf_token %}
<table>
    <tr>
        <td><h4 align="center">
        <SELECT NAME="pk" SIZE="8">
        {% for pt in things %}
          <option VALUE="{{ pt.id }}" {% if pt.id == thing.id %}selected{% endif %}>{{ pt.name }} | {{ pt.length }} x {{ pt.depth }}
        {% endfor %}
        </SELECT></h4></td>
        <td align="center"><h4><input type="submit" value="S E E" name="_save" /></h4></td>
    </tr>
</table>
</form>
{% endblock %}

{% block content %}
<table width="100%" bgcolor="#EFEFEF">
<tr><td>{% include 'bits/common.html' %}</td>
<td>
    <table border="0" cellspacing="0" cellpadding="2" align="center" width="96%">
        <tr bgcolor="6F6F6F"><td><span class="navbar"><font size="+1" color="#FFFFFF">Name</span></td>
    {% for n in ns %}
            <td><span class="navbar"><font size="+1" color="#FFFFFF">p{{ forloop.counter }}</span></td>
    {% endfor %}
        </tr>
        {% for ro in tabl %}
        <tr bgcolor="{% cycle '#EFEFEF' '#DFDFDF'%}">
            {% for nym in ro %}
                <td {% if not nym %} bgcolor="#9F9F9F"{% endif %}>
                    {% if forloop.first %}
                        <a href="/polynym/{{ nym.id }}"><b>{{ nym.name }}</b></a>
                    {% else %}{{ nym }}{% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr bgcolor="#6F6F6F">
        <td><span class="navbar"><font size="+1" color="#FFFFFF">Name</span></td>
            {% for n in ns %}
                <td><span class="navbar"><font size="+1" color="#FFFFFF">p{{ forloop.counter }}</span></td>
        {% endfor %}
    </tr></table>
</td></tr>
   <tr>
       <td bgcolor="#EFEFEF" colspan="2"><br></td>
   </tr>
</table>
{% endblock %}
