{% extends 'base.html' %}
{% block title %}Polynym Map{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Map</h3>
    <div class="text-muted"><em>dimensional relationships<br>between two polynyms</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}
{% endblock%}

{% block right %}
<form action="{% url 'spin:polymap_detail' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0">
        <div class="col-6 my-auto">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:polymap_detail' %}">Random Pick</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7" class="w-100">
            {% for m in things %}
              <option VALUE="{{ m.id }}" {% ifequal m.id thing.id %}selected{% endifequal %}/>
              {% if m.name %}{{ m.name|truncatechars:25 }} | {% endif %}
              {{ m.pa.name|truncatechars:25 }} &lrarr; {{ m.pb.name|truncatechars:25 }}
              {% if m.area %} | {{ m.area|truncatechars:25 }}{% endif %}{% if m.src %} | {{ m.src|truncatechars:25 }}{% endif %}
            {% endfor %}
            </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}{% load motags %}
<div class="row g-0 text-center px-3">
    <div class="col-lg-4 col-sm-12">
        {% include 'bits/common.html' %}
    </div>
	<div class="col-lg-8 col-sm-12 text-start align-middle">
        <table class="text-center" cellpadding="4" cellspacing="0">
            <tr>
        	    <td align="left">
                    {% include 'bits/infocard.html' with thing=thing.pa  %}
                </td>
        	    <td width="20" class="bg-dark">
                    <h2 align="center"><br><br>vs.</h2>
                </td>
        	    <td align="left">
                    {% include 'bits/infocard.html' with thing=thing.pb %}
                </td>
            </tr>
            <tr>
        	    <td align="right">
                    <b>{{ thing.pa.depth }} {% if thing.pa.mode %}{{ thing.pa.mode }}{% else %}part{% endif %}s of {{ thing.pa.name }}</b>
                </td>
        	    <td width="20" class="text-center bg-dark">
                    <h3>&bot;</h3>
                </td>
        	    <td align="left">
                    <b>{{ thing.pb.depth }} {% if thing.pb.mode %}{{ thing.pb.mode }}{% else %}part{% endif %}s of {{ thing.pb.name }}</b>
                </td>
            </tr>
            {% for rel in thing.rels %}
                {% if rel %}
                    <tr>
                        {% for r in rel %}
                            <td class="text-{% if forloop.first %}right{% elif forloop.last %}left{% else %}center bg-dark{% endif %} align-middle">
                                {{ r }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
