{% extends 'base.html' %}
{% block title %}Polynyms{% endblock %}

{% block mid %}
<h2>Polynym Data</h2>
<h4>click row icons to see, edit or delete</h4>
{% endblock %}

{% block right%}
<form action="/polynym/add/" value="A D D">{% csrf_token %}<input type="submit" value="A D D"></form>
{% endblock %}

{% block content %}
<table>
<thead>
<tr>
<th>See</th><th>Edit</th><th>Del</th>
<th>Name</th>
<th>Depth</th>
<th>Mode</th>
<th>p1</th>
<th>p2</th>
<th>p3</th>
<th>p4</th>
<th>p5</th>
<th>p6</th>
<th>p7</th>
<th>p8</th>
<th>p9</th>
<th>p10</th>
<th>p11</th>
<th>p12</th>
<th>User</th>
<th>Source</th>
<th>URL</th>
<th>Area</th>
<th>z</th>
</tr>
</thead>
<tbody>
{% for thing in object_list %}
<tr bgcolor="{% cycle '#EFEFEF' '#FFFFFF' %}">
<td><a href='{% url "spin:polynym_detail"  thing.id  %}'>&target;</a></td>
<td><a href='{% url "spin:polynym_update"  thing.id  %}'>&check;</a></td>
<td><a href='{% url "spin:polynym_delete"  thing.id  %}'>&timesb;</a></td>
<td>{{ thing.name }}</td>
<td>{{ thing.depth }}</td>
<td>{{ thing.mode }}</td>
<td>{{ thing.p1 }}</td>
<td>{{ thing.p2 }}</td>
<td>{{ thing.p3 }}</td>
<td>{{ thing.p4 }}</td>
<td>{{ thing.p5 }}</td>
<td>{{ thing.p6 }}</td>
<td>{{ thing.p7 }}</td>
<td>{{ thing.p8 }}</td>
<td>{{ thing.p9 }}</td>
<td>{{ thing.p10 }}</td>
<td>{{ thing.p11 }}</td>
<td>{{ thing.p12 }}</td>
<td>{{ thing.user }}</td>
<td>{{ thing.src }}</td>
<td><a href="{{ thing.wiki }}">{{ thing.wiki|truncatechars:12 }}</a></td>
<td>{{ thing.area }}</td>
<td>{{ thing.z }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
