{% extends 'base.html' %}
{% block title %}Quadraset{% endblock %}

{% block mid %}
{% if msg %}{{ msg }}{% else %}<h2>Quadraset:<br>{{ thing.name }}</h2>{% endif %}
{% endblock %}
{% block right %}
<form method="POST">{% csrf_token %}
<table>
    <tr>
        <td><h4 align="center">
        <SELECT NAME="pk" SIZE="8">
        {% for qt in things %}
          <option VALUE="{{ qt.id }}" {% if qt.id == thing.id %}selected{% endif %}>{{ qt.name }} | {{ qt.length }}
        {% endfor %}
        </SELECT></h4></td>
        <td align="center"><h4><input type="submit" value="S E E" name="_save" /></h4></td>
    </tr>
</table>
</form>
{% endblock %}

{% block content %}
<table width="100%" bgcolor="#EFEFEF">
<tr><td>{% include 'bits/common.html' %}</td>
<td>
    <table border="0" cellspacing="0" cellpadding="2" align="center" width="96%">
        <tr bgcolor="6F6F6F"><td><span class="navbar"><font size="+1" color="#FFFFFF">Name</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Expansion</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Reduction</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Objective</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Subjective</span></td></tr>
        {% for q in thing.quadranyms.all %}
        <tr bgcolor="{% cycle '#EFEFEF' '#DFDFDF'%}">
            {% for nym in q.nyms %}
                <td width="20%">
                    {% if forloop.first %}
                        <a href="/quadranym/{{ q.id }}"><b>{{ nym }}</b></a>
                    {% else %}{{ nym }}{% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr bgcolor="6F6F6F"><td><span class="navbar"><font size="+1" color="#FFFFFF">Name</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Expansion</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Reduction</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Objective</span></td>
                             <td><span class="navbar"><font size="+1" color="#FFFFFF">Subjective</span></td></tr></table>
</td></tr>
   <tr>
       <td bgcolor="#EFEFEF" colspan="2"><br></td>
   </tr>
</table>
{% endblock %}
