{% extends 'base.html' %}
{% block title %}Quadranym{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Quadranym</h3>
    <div class="text-muted"><em>a word sensibility model</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}
{% if thing.epos == 'VB' and thing.rpos == 'VB' and thing.opos == 'NN' and thing.spos == 'NN' %}<span class="text-muted">(conjugal)</span>{% endif %}</h4>
{% endblock %}

{% block right %}{% load motags %}
<form action="{% url 'spin:quadranym_detail' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0 text-end">
        <div class="col-6 my-auto text-center">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:quadranym_detail' %}">Random Pick</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7">
            {% for q in things %}
              <option VALUE="{{ q.id }}" {% if q.id == thing.id %}selected{% endif %}/>
              {{ q.name|truncatechars:25 }}{% if q.src %} | {{ q.src|truncatechars:25 }}{% endif %}
            {% endfor %}
            </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}
<div class="row g-0">
    <div class="col p-3">{% include 'bits/common.html' with com='quadranym' %}</div>
    <div class="col p-3"><h3>{% include 'bits/quad.html' with eros=True pos=True %}</h3></div>
</div>

<div class="row g-0 px-3">
    <div class="col-4">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'spin:queue' %}">Request a Quadranym</a>
        {% if thing.names|nymsake:"polynym" or thing|quoted %}
            <button class="btn btn-sm btn-outline-info ms-3" data-bs-toggle="collapse" data-bs-target="#show">Related &dtrif;</button>
        {% endif %}
    </div>
    {% if thing.names|nymsake:"polynym" or thing|quoted %}
        <div class="col-8">
            <div id="show" class="collapse">
                {% with sakes=thing.names|nymsake:"polynym"%}{% if sakes %}{{ sakes }}<br>{% endif %}{% endwith %}
                {% with qq=thing|quoted %}{% if qq %}{{ qq }}<br>{% endif %}{% endwith %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
