{% extends "base.html" %}
{% block title %}Quadranyms{% endblock %}

{% block mid %}
<h2>Quadranym Data</h2>
<h4>click row icons to see, edit or delete</h4>
{% endblock %}

{% block right %}
<form action="/quadranym/add/" value="A D D">{% csrf_token %}<input type="submit" value="A D D"></form>
{% endblock %}

{% block content %}
<table>
<thead>
<tr>
<th>See</th><th>Edit</th><th>Del</th>
<th>Name</th>
<th>POS</th>
<th>Realm</th>
<th>E</th>
<th>R</th>
<th>O</th>
<th>S</th>
<th>EPOS</th>
<th>RPOS</th>
<th>OPOS</th>
<th>SPOS</th>
<th>User</th>
<th>Source</th>
<th>URL</th>
<th>Area</th>
<th>z</th>
</tr>
</thead>
<tbody>
{% for thing in object_list %}
<tr bgcolor="{% cycle 'EFEFEF' 'FFFFFF' %}">
<td><a href='{% url "spin:quadranym_detail"  thing.id  %}'>&target;</a></td>
<td><a href='{% url "spin:quadranym_update"  thing.id  %}'>&check;</a></td>
<td><a href='{% url "spin:quadranym_delete"  thing.id  %}'>&timesb;</a></td>
<td>{{ thing.name }}</td>
<td>{{ thing.pos }}</td>
<td>{{ thing.realm }}</td>
<td>{{ thing.e }}</td>
<td>{{ thing.r }}</td>
<td>{{ thing.o }}</td>
<td>{{ thing.s }}</td>
<td>{{ thing.epos }}</td>
<td>{{ thing.rpos }}</td>
<td>{{ thing.opos }}</td>
<td>{{ thing.spos }}</td>
<td>{{ thing.user }}</td>
<td>{{ thing.src }}</td>
<td><a href="{{ thing.wiki }}">{{ thing.wiki|truncatechars:12 }}</a></td>
<td>{{ thing.area }}</td>
<td>{{ thing.z }}</td>
</tr>

{% endfor %}
</tbody>
</table>
{% endblock %}
