{% extends 'base.html' %}
{% block title %}Story{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Story</h3>
    <div class="text-muted"><em>narrative made from<br>phrase-topic pairs</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}</h4>
{% endblock %}

{% block right %}
<form action="{% url 'spin:story_detail' %}" method="POST">{% csrf_token %}
<div class="row g-0 text-end p-0">
    <div class="col-6 my-auto">
        <div class="btn-group-vertical">
            <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:story_detail' %}">Random Pick</a>
            <input class="btn btn-primary mb-3" type="submit" value="View Selected" />
        </div>
    </div>
    <div class="col-6">
        <SELECT NAME="pk" MULTIPLE SIZE="7">
            {% for s in things %}
                <option VALUE="{{ s.id }}" {% if s.id == thing.id %}selected{% endif %}/>
                {{ s.length }} | {{ s.name|truncatechars:25 }}{% if s.src %} | {{ s.src|truncatechars:25 }}{% endif %}
            {% endfor %}
        </SELECT>
    </div>
</div>
</form>
{% endblock %}

{% block content %}{% load motags%}
<div class="row g-0 text-start mt-3 p-3">
    <div class="col-lg-4 col-md-6 col-xs-12">
        {% include 'bits/common.html' %}
    </div>
    <div class="col-lg-8 col-md-6 col-xs-12 p-3">
        {% include 'bits/book.html' with spun=thing.tell.0 qode=thing.tell.1 title=thing.name %}
    </div>
</div>

{% include 'bits/show_story.html' with phrases=thing.pairs.0 quadranyms=thing.pairs.1 %}
{% endblock %}
