{% extends 'base.html' %}
{% block title %}Tale{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Tale</h3>
    <div class="text-muted"><em>a template retold<br>with new topics</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}</h4>
{% endblock %}

{% block right %}<form action="{% url 'spin:tale_detail' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0 text-end">
        <div class="col-6 my-auto text-center">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:tale_detail' %}">Random Pick</a>
                <input class="btn btn-primary mb-3" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7" class="w-100">
                {% for t in things %}
                    <option VALUE="{{ t.id }}" {% if t.id == thing.id %}selected{% endif %}/>
                    {{ t.name|truncatechars:25 }}{% if t.src %} | {{ t.src|truncatechars:25 }}{% endif %}
                {% endfor %}
            </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}{% load motags %}
<div class="row g-0 text-start mt-3 p-3">
    <div class="col-lg-4 col-md-6 col-xs-12">
        {% include 'bits/common.html' %}
    </div>
    <div class="col-lg-8 col-md-6 col-xs-12 p-3">
        {% include 'bits/book.html' with spun=thing.tell qode=thing.fable.qode title=thing.name %}
    </div>
</div>

{% include 'bits/show_tale.html' with thing=thing.fable things=thing.quads %}
{% endblock %}
