{% extends 'base.html' %}
{% block title %}Polynym Vector{% endblock %}

{% block left %}
<div class="col-12">
    <h3 class="m-1">Polynym Vector</h3>
    <div class="text-muted"><em>an array of polynyms</em></div>
</div>
{% endblock %}

{% block mid %}{% if msg %}{{ msg }}<br>{% endif %}
<h4 class="text-center">{{ thing.name }}
{% endblock %}

{% block right %}
<form action="{% url 'spin:vectornym_detail' %}" method="POST">{% csrf_token %}
<div class="container p-0">
    <div class="row g-0 text-end">
        <div class="col-6 my-auto">
            <div class="btn-group-vertical">
                <a class="btn btn-sm btn-dark text-muted" href="{% url 'spin:vectornym_detail' %}">Random Pick</a>
                <input class="btn btn-primary" type="submit" value="View Selected" />
            </div>
        </div>
        <div class="col-6">
            <SELECT NAME="pk" MULTIPLE SIZE="7">
            {% for v in things %}
              <option VALUE="{{ v.id }}" {% if v.id == thing.id %}selected{% endif %}/>
              {{ v.length }} | {{ v.name|truncatechars:35 }}{% if v.src %} | {{ v.src|truncatechars:25 }}{% endif %}
            {% endfor %}
            </SELECT>
        </div>
    </div>
</div>
</form>
{% endblock %}

{% block content %}
<div class="row g-0 text-center p-3">
	<div class="col-12 text-start align-middle pt-1">
        <h3 class="text-center">{{ thing.name|title }}</h3>
        <table class="table table-sm table-borderless text-center text-light p-2">
            <tr class="align-top">
            {% for p in thing.polys %}
                <td class="bg-{% cycle 'dark' 'secondary' %} text-center">{{ p.name }}
                    <br><span class="huge">{% if not forloop.last %}&rarr;{% else %}&uarr;</span>{% endif %}
                </td>
            {% endfor %}
            </tr>
            <tr class="align-top">
            {% for p in thing.nyms %}
                <td style="background-color: #{% cycle '000' '333' %}">{{ p|join:'<br>'}}</td>
            {% endfor %}
            </tr>
            <tr class="align-top">
            {% for p in thing.polys %}
                <td class="text-center bg-{% cycle 'dark' 'secondary' %}">{{ p.depth }}<br>{{ p.mode }}s</td>
            {% endfor %}
            <tr class="align-top">
            {% for p in thing.polys %}
                <td style="background-color: #{% cycle '000' '333' %}">
                    {% if p.area %}{{ p.area|truncatechars:25 }}<br>{% endif %}
                    {% if p.src %}{{ p.src|truncatechars:25 }}{% endif %}
                </td>
            {% endfor %}
            </tr>
        </table>
    </div>
</div>
<div class="row g-0 p-3">
    <div class="col-lg-4 col-md-6">
        {% include 'bits/common.html' %}
    </div>
</div>
<div class="row g-0 pb-3">
    {% include 'bits/shows.html' with things=thing.polys %}
</div>
{% endblock %}
